CompileFlags:
  Add:
    [
      "-xc",
      "-Wall",
      "-Werror",
      "-Wextra",
      "-std=c2x",
      "-ferror-limit=0",
      "-fblocks",
    ]

Diagnostics:
  Suppress:
    - modernize-use-nullptr
    - gnu-statement-expression-from-macro-expansion
    - unused-function
